{% extends 'base.html' %}
{% block content %}
     <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tokhirjon codder</p>
                </div>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae elementum lacus, laoreet rutrum ipsum. Sed sagittis tortor eu luctus finibus. In lobortis ullamcorper ligula, quis scelerisque lorem consectetur imperdiet. Aliquam erat volutpat. Suspendisse porta semper semper. Morbi consequat facilisis iaculis. Cras imperdiet justo non risus aliquet imperdiet. Etiam in fringilla leo. Integer ac mi in felis tincidunt lacinia sed interdum lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ligula neque, ultrices nec libero in, dignissim dapibus metus. <br><br>

                        Curabitur non aliquam tellus, vel ultricies sem. Nam eget mollis diam, vitae elementum diam. Donec id libero rhoncus, fringilla erat ut, feugiat diam. Donec pulvinar nisi dui, sit amet blandit nulla consectetur id. Morbi rhoncus gravida urna ut blandit. Integer ut eros justo. Mauris pellentesque ipsum felis, vitae venenatis lacus sollicitudin ut. Proin imperdiet egestas orci id luctus. Integer bibendum lorem at ipsum fringilla, non vulputate nunc elementum. Fusce nec aliquam dui. Nullam consequat varius ipsum, ut vestibulum nulla bibendum ut. Etiam ut dolor sit amet neque malesuada aliquam. Pellentesque vulputate risus velit, eget imperdiet sem ultrices ut. Phasellus ultrices, turpis sed tempus feugiat, lacus dolor iaculis ante, ac fringilla arcu ipsum vitae nulla. Maecenas eu est ac eros rutrum sodales. <br><br>

                        Morbi tristique tortor tincidunt facilisis ultrices. Cras volutpat volutpat magna, ac scelerisque sapien. Quisque vitae scelerisque velit. Nulla eget varius nunc. Fusce vitae vehicula purus, nec commodo leo. Donec nec viverra nisi. Nullam ipsum libero, tincidunt non pellentesque vitae, iaculis ut risus. Vivamus tristique dignissim orci ut dignissim. In vitae volutpat est. <br><br>
                    </p>
                </div>
            </center>

        </div>

    </div>


{% endblock %}